<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sample Site</title>
    <base href="/" />
    <ResourcePreloader />
    <link rel="icon" href="@Assets["_content/SampleSite.Components/favicons/favicon.ico"]" />
    <link rel="stylesheet" href="@Assets["_content/SampleSite.Components/css/bootstrap/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["_content/SampleSite.Components/css/site.css"]" />
    <link rel="stylesheet" href="@Assets["SampleSite.Host.styles.css"]" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body>
    <div id="app">
        <SampleSite.Components.App @rendermode="InteractiveWebAssembly" />
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
